@import url('https://fonts.googleapis.com/css?family=Lato');
body{
  background: #E0FF4F;
  color: #00272B;
}
.input{
  padding-bottom: 35px;
  height: 20px;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
}
p{
  font-family: 'Lato', sans-serif;
}
input{
  margin-bottom: 200px;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}
@media screen and (max-width: 350px) {
.input {
    padding-bottom: 75px;
  }
}